
{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link href="./css/style.css" rel="stylesheet">

</head>

<body class="h-100">

<div class="authincation h-100">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">


                                {% for msg in messages %}
                                <div style="color:red;">{{msg}}</div>
                                {% endfor %}

                                <div style=" text-align: center;
                                   text-decoration: underline;"><h2>customer register form</h2></div>
                                <br>
                                <br>


                                <form class="form-detail" method="post">


                                    {% csrf_token %}
                                         {{ form|crispy }}


                                    {{ n_form|crispy }}

                                    <div class="new-account mt-3" >
                                        <button>submit</button>

                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>

                                    <!--**********************************
                                        Scripts
                                    ***********************************-->
                                    <!-- Required vendors -->
                                    <script src="{% static 'adm/./vendor/global/global.min.js' %}"></script>
                                    <script src="{% static 'adm/./js/quixnav-init.js' %}"></script>
                                    <!--endRemoveIf(production)-->
</body>

</html>
